.card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(229, 208, 181, 0.394);
    box-shadow: 3px 0px 8px -1px rgba(158,152,158,0.79);
    border: 1px solid rgba(0, 0, 0, 0.245);
    margin: 10px;
}
.card-wrap:hover {
    transform: scale(1.03);
    border: 1px solid rgba(102, 65, 65, 0.776);
    box-shadow: 3px 0px 8px -1px rgba(158,152,158,0.79);
}
.name {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
}
.description {
    font-style: italic;
    padding: 10px;
}
img {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.093) ;
    background-color: rgba(186, 166, 166, 0.093) ;
    padding: 10px;
}