*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inder";
  src: local("Inder"), url("../utils/Inder/Inder-Regular.ttf");
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
:root {
  background-color: #263a29;
  font-family: "Inder";
}
.game {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
  padding: 0px 100px;
  justify-content: center;
  gap: 10px;
}
.score-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  gap: 30px;
}
.info {
  color: #f2e3db;
  font-size: 20px;
  font-style: italic;
}
.card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f2e3db;
  border: 1px solid rgba(0, 0, 0, 0.245);
  margin: 10px;
  height: 250px;
  width: 250px;
}
.card-wrap:hover {
  transform: scale(1.03);
  border: 1px solid rgba(102, 65, 65, 0.776);
}
.name {
  font-size: 1.3rem;
  font-weight: 500;
  color: #263a29;
  padding: 10px;
}
.description {
  font-style: italic;
  padding: 10px;
  font-size: 14px;
  color: #060f28;
}
img {
  border-radius: 10px;
}
.score {
  color: #f2e3db;
}

.best-score {
  color: #e86a33;
  font-weight: 600;
}
